.about-us {
  display: flex;
  width: 100vw;
  min-height: 615px;
  background-color: var(--color2);
}

.about-us__history-and-expertise {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--color1);
}

.history__wrapper {
  width: 55%;
}

.history__header {
  margin-bottom: 30px;
  font-size: var(--font4);
}

.history__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: var(--font3);
}

.history__item-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 45px;
  font-size: var(--font3);
  font-weight: bold;
}

.history__item-paragraph {
  font-size: var(--font4);
}

.expertise__wrapper {
  width: 45%;
  margin-left: 30px;
}

.expertise__header {
  margin-bottom: 30px;
  font-size: var(--font4);
}

.expertise__paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color3);
  font-size: var(--font4);
  line-height: 2.214;
}

@media (max-width: 1023px) {

  .about-us__history-and-expertise {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .history__wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .expertise__wrapper {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 320px) {

  .history__item {
    flex-direction: column;
  }
}