.accessibility {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color1);
  width: 100vw;
  z-index: 5;
}

.accessibility__wrapper {
  width: 1170px;
  margin: 10px auto;
}

.accessibility__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.accessibility__item {
  font-size: var(--main-text);
  margin-left: 10px;
  font-weight: bold;
}

.accessibility__item:hover {
  cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1440px) {

  .accessibility {
    width: 100vw;
  }
  
  .accessibility__wrapper {
    width: 100%;
    padding: 0 3rem;
  }
}

@media (max-width: 1023px) {
  
  .accessibility {
    width: 100vw;
  }
  
  .accessibility__wrapper {
    width: 100%;
    padding: 0 3rem;
  }
}