.attorney {
  display: flex;
  width: 100vw;
  height: 750px;
  background-color: var(--color2);
}

.attorney__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas:
    ". . . .";
  width: 100%;
}

.list__name {
  color: var(--color1);
  margin-top: 30px;
  font-size: var(--font3);
}

.list__position {
  font-size: var(--font5);
  color: var(--color3);
}

@media (max-width: 1000px) {

  .attorney {
    height: auto;
  }

  .attorney__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .attorney__item {
    margin-bottom: 25px;
  }
}
