.attorney__description-header, .attorney__description-paragraph, .list__name {
  font-family: var(--Playfair);
}

.attorney {
  display: flex;
  width: 100vw;
  height: 750px;
  background-color: var(--color2);
}

.attorney__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;
  margin: 100px auto 0;
}

.attorney__number {
  font-size: var(--font0);
  height: 0;
  line-height: 0.15;
  opacity: 0.2;
  font-weight: 500;
  color: var(--color4);
}

.attorney__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100px;
  padding-left: 20px;
  border-left: var(--border);
  margin-bottom: 70px;
}
  
.attorney__description-header {
  font-size: var(--font2);
  color: var(--color1);
  line-height: 0.8;
  font-weight: 500;
}

.attorney__description-paragraph {
  font-size: var(--font3);
  color: var(--color3);
  width: 65%;
  line-height: 1.1;
  margin-top: 5px;
}
  
.attorney__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.list__name {
  color: var(--color1);
  margin-top: 30px;
  font-size: var(--font3);
}

.list__position {
  font-size: var(--font5);
  color: var(--color3);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  
  .attorney__wrapper {
    width: 100%;
    padding: 0 3rem;
  }

  .attorney__description-paragraph {
    width: 100%;
  }
  
  .attorney__item {
    margin: 5px;
  }
}

@media (max-width: 1023px) {
  
  .attorney__wrapper {
    width: auto;
    padding: 0 3rem;
  }

  .attorney__description-paragraph {
    width: 100%;
  }

  .attorney__item {
    margin: 5px;
  }
}

@media (max-width: 481px) {

  .attorney {
    height: auto;
    margin-bottom: 40px;
  }

  .attorney__description-header {
    font-size: var(--font3);
  }
  
  .attorney__description-paragraph {
    font-size: var(--font5);
  }
  
  .attorney__list {
    align-items: center;
    flex-direction: column;
  }
}