.clients {
  display: flex;
  width: 100vw;
  min-height: 750px;
  background-image: url(./../photos/clients/stock-photo-152247655.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color6);
}

.clients__opinions {
  display: flex;
}

.opinions__image {
  max-width: 370px;
  max-height: 305px;
  box-shadow: 20px 20px 0px 0px #e8bf5d;
}

.opinions__quote-mark {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px 0 55px;
  color: var(--color4);
  font-size: 96px;
}

.opinions__description {
  position: relative;
  top: 30px;
}

.opinions__paragraph {
  max-width: 600px;
  margin-bottom: 40px;
  font-size: var(--font5);
  line-height: 2.214;
}

.opinions__name {
  font-size: var(--font3);
}

.opinions__position {
  margin-bottom: 40px;
  font-size: var(--font5);
}

.clients__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color3);
  font-size: var(--font1);
}

.clients__dot-1, .clients__dot-2, .clients__dot-3 {
  cursor: pointer;
}

@media (max-width: 900px) {

  .clients__opinions {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .opinions__quote-mark {
    bottom: -40px;
    margin: 0;
    line-height: 0.8;
  }
}

@media (max-width: 481px) {

  .opinions__image {
    max-width: 230px;
    max-height: 210px;
  }

}