/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 850px;
  background-color: var(--color2);
  scroll-margin-top: 50px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 3px;
  -webkit-box-shadow: 0px 12px 40px 0px rgba(104, 86, 42, 0.1);
          box-shadow: 0px 12px 40px 0px rgba(104, 86, 42, 0.1);
  width: 870px;
  height: 490px;
  margin: 0 auto;
  padding: 50px 40px 50px 50px;
}

.contact__input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: 50px;
}

.contact__input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: var(--font5);
  font-style: italic;
  color: var(--color3);
  border: none;
  border-bottom: solid 1px var(--color4);
  background-color: var(--color2);
}

.contact__text-area {
  width: 100%;
  height: 90px;
  font-size: var(--font5);
  font-style: italic;
  color: var(--color3);
  border: none;
  border-bottom: solid 1px var(--color4);
  background-color: var(--color2);
  margin-top: 20px;
}

.contact__button {
  width: 170px;
  height: 50px;
  background-color: rgb(232, 191, 93);
  border: none;
  border-radius: 25px;
  font-size: var(--font4);
  margin-top: 20px;
}

.contact__button:hover {
  cursor: pointer;
}

.contact__image {
  -webkit-box-shadow: -20px 20px 0px 0px #e8bf5d;
          box-shadow: -20px 20px 0px 0px #e8bf5d;
}

@media (max-width: 1000px) {

  .contact__input-fields {
    margin-right: 0;
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }

  .contact__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact__image, .contact__text-area {
    margin-bottom: 40px;
  }

  .contact__image {
    width: 70%;
  }
}

@media (max-width: 481px) {

  .contact__image {
    width: 100%;
  }
}
