.faq__description-header, .faq__description-paragraph {
    font-family: var(--Playfair);
  }
  
.faq {
  display: flex;
  width: 100vw;
  min-height: 750px;
  background-color: var(--dark);
  color: var(--color6);;
}
  
.faq__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;
  margin: 100px auto 40px;
}

.faq__number {
  font-size: var(--font0);
  height: 0;
  line-height: 0.15;
  opacity: 0.2;
  font-weight: 500;
  color: var(--color4);
}
  
.faq__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100px;
  padding-left: 20px;
  border-left: var(--border);
  margin-bottom: 70px;
}
    
.faq__description-header {
  font-size: var(--font2);
  line-height: 0.8;
  font-weight: 500;
}
    
.faq__description-paragraph {
  font-size: var(--font3);
  color: var(--color4);
  width: 65%;
  line-height: 1.1;
  margin-top: 5px;
}

.faq__container {
  display: flex;
}

.container__questions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-right: 35px;
  font-size: var(--font4);
}

.container__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 570px;
  height: 50px;
  border-bottom: solid 1px var(--orange);
  line-height: 1.1;
}

.container__question--active {
  color: #e8bf5d;
}

.container__mark {
  font-size: var(--font2);
  font-weight: bold;
}

.container__paragraph {
  width: 500px;
  color: #111111;
  background-color: #e8bf5d;
  border-radius: 3px;
  box-shadow: 0px 12px 40px 0px rgba(216, 178, 87, 0.32);
  padding: 45px;
  font-size: var(--font4);
  line-height: 2.214;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  
  .faq__wrapper {
    width: 100%;
    padding: 0 3rem;
  }

  .faq__description-paragraph {
    width: 100%;
  }
  
  .container__question {
    width: 50vw;
  }
  
  
  .container__paragraph {
    width: 100%;
  }
}

@media (max-width: 1023px) {

  .faq {
    height: auto;
  }
  
  .faq__wrapper {
    width: auto;
    padding: 0 3rem;
  }

  .faq__description-paragraph {
    width: 100%;
  }

  .faq__container {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .container__questions {
    margin-right: 0;
  }

  .container__question {
    width: 100%;
    padding: 5px 0;
  }
  
  
  .container__paragraph {
    width: 100%;
    margin-bottom: 40px;
  }

}

@media (max-width: 481px) {
  
  .faq__description-header {
    font-size: var(--font3)
  }
  
  .faq__description-paragraph {
    font-size: var(--font4)
  }

  .container__questions {
    font-size: var(--font4)
  }

  .container__paragraph {
    font-size: var(--font4)
  }
}