.footer {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: #111111;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  color: var(--color6);
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font4);
}

.footer__copyright-text {
  color: var(--color4);
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font4);
  width: 110px;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: solid 3px var(--orange);
}

@media (max-width: 1024px) {

  .footer {
    padding: 0 3rem;
  }
  
  .footer__wrapper {
    width: 100%;
  }
}
