.practis-area__description-header, .practis-area__description-paragraph, .grid-item__header {
  font-family: var(--Playfair);
}

.practis-area {
  display: flex;
  width: 100vw;
  min-height: 750px;
  background-color: var(--dark);
  color: var(--color2);
}

.practis-area__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;
  margin: 100px auto 0;
}

.practis-area__number {
  font-size: var(--font0);
  height: 0;
  line-height: 0.15;
  opacity: 0.2;
  font-weight: 500;
  color: var(--color4);
}

.practis-area__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100px;
  padding-left: 20px;
  border-left: var(--border);
  margin-bottom: 90px;
}
  
.practis-area__description-header {
  color: var(--color6);
  font-size: var(--font2);
  line-height: 0.8;
  font-weight: 500;
}
  
.practis-area__description-paragraph {
  font-size: var(--font3);
  color: var(--color4);
  width: 65%;
  line-height: 1.1;
  margin-top: 5px;
}

.practis-area__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 75px 120px;
  grid-template-areas:
    ". ."
    ". .";
  padding: 0 5%;
  color: var(--color6);
  margin-bottom: 40px;
}

.fa-handshake, .fa-wrench, .fa-desktop, .fa-home {
  color: var(--color5);
  font-size: 45px;
  padding: 5px 30px 0 0;
}

.practis-area__grid-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid-item__header {
  font-size: var(--font3);
  margin-bottom: 30px;
  font-weight: 500;
}

.grid-item__paragraph {
  font-size: var(--font5);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  
  .practis-area__wrapper {
    width: 100%;
    padding: 0 3rem;
  }

  .practis-area__description-paragraph {
    width: 100%;
  }
}

@media (max-width: 1023px) {

  .practis-area {
    height: auto;
  }
  
  .practis-area__wrapper {
    width: auto;
    padding: 0 3rem;
    
  }

  .practis-area__description-paragraph {
    width: 100%;
  }

  .practis-area__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .practis-area__wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
  
  @media (max-width: 481px) {
  
    .practis-area__description-header {
      font-size: var(--font3);
    }
    
    .practis-area__description-paragraph {
      font-size: var(--font4);
    }
  }
}








