.publications {
  display: flex;
  width: 100vw;
  min-height: 1000px;
  background-color: var(--color2);
}

.publications__articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas:
    ". . .";
}

.article {
  border-bottom: solid 3px var(--orange);
}

.article__title {
  margin-top: 30px;
  color: var(--color1);
  font-size: var(--font3);
}

.article__author-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  color: var(--color1);
  font-size: var(--font4);
}

.article__date {
  color: var(--color3);
  font-style: italic;
}

.article__paragraph {
  margin-bottom: 35px;
  color: var(--color3);
  font-size: var(--font5);
  line-height: 2.214;
}

.article__comments-and-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  color: var(--color1);
}

.article__comments {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.article__comments:hover, .article__share:hover {
  cursor: pointer;
}

.fa-comments, .fa-share {
  margin-right: 15px;
}

@media (max-width: 1023px) {

  .article__author-and-date {
    font-size: var(--font5);
  }
  
  .article__comments-and-share {
    font-size: var(--font5);
  }
}

@media (max-width: 481px) {

  .publications {
    height: auto;
  }

  .publications__articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .article {
    margin-bottom: 40px;
  }
}



